#!include:.gitignore
# Ignore everything
*

## Except files we want
!.dockerignore
!mysite/**
!polls/**
!Dockerfile
!gae_flexible.yaml
!gae_standard.yaml
!gae_standard_with_gcs.yaml
!main.py
!manage.py
!requirements.txt
